@model User
<h1>@Model.Name</h1>

<p>@Model.Description</p>


    <a href="/">My Profile</a>
    <a href="/Logout">Logout</a>

@* 
    @foreach (var item in ViewBag.marrNgaDb)
{
    
   
    <h6>@item.Name</h6>
    <p>@item.Description</p>
} *@