@model User

<div class="row">
    <div class="col-sm-6">
<h4>@Model.Name</h4>

<p>@Model.Description</p>

</div>
<div class="col-sm-6">
    <a href="/">My Profile</a>
    <a href="/Logout">Logout</a>
</div>
</div>